* {
  box-sizing: border-box;
}

.action-button {
  height: 48px;
  width: 160px;
  font-size: 18px;
  background-color: #3040c4;
  color: #fff;
  font-weight: 700;
  border-radius: 2px;
  border: none;
}
.page {
  display: flex;
  flex-direction: column;
  width: 1400px;
  margin: auto;
  min-height: 100vh;
}
