* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
}
/*footer*/

.footer {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}
/*footer-upperline*/
.about-company {
  margin-top: 44px;
}

.footer-navigation {
  margin: 0;
  flex-direction: column;
  display: flex;
}
@media screen and (min-width: 400px) {
  .footer-navigation {
    width: 1140px;
    margin: 0 auto;
    height: 338px;
    display: flex;
    flex-direction: row;
  }
}

.footer_deskription {
  display: none;
  line-height: 26px;
  font-size: 18px;
  margin-top: 26px;
  color: #2b292d;
  opacity: 0.6;
  width: 360px;
}

.download {
  margin: 25px 15px 0 15px;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 400px) {
  .download {
    margin: 0;
    margin-top: 25px;
    justify-content: left;
  }
}

.download_item {
  margin-right: 10px;
}

.additional-navigation {
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 400px) {
  .additional-navigation {
    margin-top: 60px;
    margin-left: auto;
    flex-direction: row;
  }
}

.additional-navigation-colum {
  margin-top: 30px;
}

@media screen and (min-width: 400px) {
  .additional-navigation-colum {
    margin-top: 0;
    margin-right: 29px;
  }
}
.nav-links {
  width: 265px;
}
.nav-links__title {
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  color: #2b292d;
  margin: 0;
}

.nav-links__title {
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  color: #2b292d;
  margin: 0;
}
.nav-links__list {
  font-size: 18px;
  line-height: 30px;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  margin-top: 18px;
  color: #2b292d;
  opacity: 0.6;
}

/*footer-underline*/

.footer_line {
  border-top: 1px #2b292d solid;
  width: 100%;
  opacity: 0.1;
  margin: 0;
  margin-top: 40px;
}

@media screen and (min-width: 400px) {
  .footer_line {
    margin: 0;
  }
}

.footer-links {
  display: flex;
  margin-left: 15px;
  flex-direction: column;
}
@media screen and (min-width: 400px) {
  .footer-link {
    flex-direction: row;
    width: 1140px;
    margin: 0 auto;
    align-items: center;
    height: 50px;
  }
}

.terms {
  line-height: 22px;
  font-size: 14px;
  margin-top: 30px;
}

@media screen and (min-width: 400px) {
  .terms {
    line-height: 50px;
    margin-top: 30px;
  }
}

.footer-navigation__item {
  text-decoration: none;
  color: #2b292d;
  opacity: 0.6;
  font-size: 14px;
  margin-right: 22px;
}

.social-link {
  margin-top: 30px;
  margin-bottom: 23px;
}

@media screen and (min-width: 400px) {
  .social-link {
    margin-left: auto;
    margin-bottom: 0;
  }
}

.social-link__item {
  margin-left: 20px;
}
.social-link__item:first-child {
  margin-left: 0;
}
.logo-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-vertical__image {
  width: 60px;
  height: 60px;
}

.logo-vertical__name {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  margin-top: 20px;
}
.logo-vertical__deskription {
  font-size: 18px;
  line-height: 25px;
  color: rgba(43, 41, 45, 0.6);
}

@media screen and (min-width: 400px) {
  .logo-vertical {
    display: none;
  }

  .footer_deskription {
    display: none;
  }
}
@media screen and (max-width: 399px) {
  .footer .logo {
    display: none;
  }
}
