* {
  box-sizing: border-box;
}
.navigation {
  display: flex;
  background-color: #ff7f50;
  min-height: 200px;
  flex-grow: 1;
  flex-basis: 0px;
}
.product-List {
  display: flex;
  background-color: #006400;
  min-height: 200px;
  flex-grow: 1;
  flex-basis: 0px;
}
.news {
  display: flex;
  background-color: #0ff;
  min-height: 200px;
  /*flex-grow: 1;*/
  flex-basis: 0px;
}
span {
  text-transform: lowercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 8px;
  border-radius: 4px;
  background-color: #faebd7;
  margin: auto;
}

@media screen and (min-width: 600px) {
  .product {
    display: flex;
  }
}

@media screen and (min-width: 900px) {
  .content {
    display: flex;
    flex-direction: row;
  }
  .product {
    display: flex;
    flex-grow: 2;
    flex-basis: 300px;
  }
  .news {
    display: flex;
    flex-grow: 1;
    flex-basis: 150px;
  }
}
